@import "tailwindcss";
@plugin "daisyui";


@font-face {
    font-family: Inter;
    src: url(./assets/Font/inter/Inter-Light-BETA.otf);
    }
@font-face {
    font-family: Sansation;
    src: url(./assets/Font/sansation/Sansation_Bold.ttf);
    }
@font-face {
    font-family: Roboto;
    src: url(./assets/Font/roboto/Roboto-Light.ttf);
    }

.Inter{
    font-family: Inter;
    font-weight: 500;
}
.Sansation{
    font-family: Sansation;
    font-weight: 500;
}
.Roboto{
    font-family: Roboto;
    font-weight: 600;
}
/* Globally */
body{
    font-family: Inter;
    font-weight: 500;
}


/* Navbar */

#nav-font{
    font-family: Sansation;
    font-weight: 500;
    font-size: 18px;
}
#nav-button{
    font-family: Roboto;
    font-weight: 600;
    font-size: 1rem;
}




